.logo-text{
  position: absolute;
  left: 4rem;
  top: 50%;
  transform: translateY(-50%);
  color: #111111;
  font-family: "PierSans-Bold", sans-serif;
  line-height: 1.3em;
  font-size: 0.8em;
  letter-spacing: 0.1em;
}


nav li > a,
nav li > div > p{
  margin: 0;
  text-transform: uppercase;
  font-family: "PierSans-Medium", sans-serif;
  font-size: 0.875em;
  letter-spacing: 1.91px;
  position: relative;
}


.indicate-active li > a:after{
  content: "";
  position: absolute;
  bottom: -0.3em;
  left: 0;
  right: 0;
  background: #8D0E20;
  height: 1px;
  transition: transform 250ms cubic-bezier(0.215, 0.610, 0.355, 1);
  transform: scaleX(0);
}
.indicate-active li > a.active:after,
.indicate-active li > a:hover:after{
  transform:none;
}


@media (max-width: 375px){
  .header-menu nav a,
  .header-menu nav p{
    font-size: 0.675em;
  }
}

@media (max-width: 767px){
  .logo-text{
    display: none;
  }
}


.dropdown{
  background: white;
  padding: 2em;
  border: 1px solid #CDCDCD;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  z-index: 2;
  font-size: 0.8em;
  display: none;
}

.dropdown:before{
  content: "";
  position: absolute;
  top: -1px;
  left: 50%;
  border-left: 1px solid #CDCDCD;
  border-top: 1px solid #CDCDCD;
  background: white;
  height: 1em;
  width: 1em;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.dropdown-wrapper{
  padding: 1em 0;
}

.dropdown-wrapper:hover .dropdown,
.dropdown:hover{
  display: block;
}

@media (max-width: 1200px)  {
  .dropdown{
    transform: translateX(-90%);
  }
  .dropdown:before{
    left: 90%;
  }
}

.socials .dropdown{
  padding-bottom: 1em;
}