.layout {
  margin: 2em;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(2em, auto);
  grid-template-areas: 
    "hd hd hd   hd hd hd  hd hd hd  hd hd hd"
    "sd sd main  main main main   main main main  main main main"
    ;
}

.layout header{
  grid-area: hd;
  display: flex;
  justify-content: space-between;
}
.layout header .menu li{
  display: inline-block;
  margin: 0 1em;
}
.layout .menu{
  padding: 0;
  margin: 0;
}
.layout section{
  grid-area: sd;
}

.layout main{
  grid-area: main;
  background: #FFFFFF;
  box-shadow: 0 7px 24px 0 rgba(0,0,0,0.31);
  border-radius: 8px;
}
.layout main h1{
  margin: 0.5em;
}
