.product header{
  background-color: #EEEEEE;
}
.product h1{
  text-transform: uppercase;
  margin-top: -0.16em;
}
button.add-to-bag {
  width: 18em;
  height: 4.3em;
}

.product-description{
  margin: auto;
  max-width: 40em;
}
.product-description img{
  margin-bottom: 3em;
}