.product header{
  background-color: #EEEEEE;
}
.product h1{
  text-transform: uppercase;
  margin-top: -0.16em;
}
button.add-to-bag {
  width: 18em;
  height: 4.3em;
}

.product-description{
  margin: auto;
  max-width: 40em;
  white-space: pre-line;
}
.product-description h2,
.product-description span,
.product-description p{
  font-family: "PierSans-Regular", sans-serif !important;
}

.product-description img{
  margin-bottom: 3em;
}

.product header img,
.product .image-mosaic img{
  cursor: zoom-in;
  transition: transform 300ms ease;
}

.product header img.zoomed,
.product .image-mosaic img.zoomed{
  cursor: zoom-out;
}

ul.alternate-actions{
  font-family: "PierSans-Medium", sans-serif;  
  font-size: 0.8em;
  letter-spacing: 0.1em;
  margin-bottom: 2em;
}
ul.alternate-actions li{
  margin-right: 1em;
  
}

.accordion{
  cursor: pointer;
  overflow: hidden;
}
.accordion ul{
  max-height: 0;
  font-family: "PierSans-Regular", sans-serif;  
  transition: max-height 250ms ease;

}

.accordion.active ul{
  max-height: 4em;
}