.landingVideo{
 height: 100vh;
 width: 100vw;
 box-sizing: border-box;
}

.landingVideo.loaded video{
  opacity: 1;
}

.landingVideo video{
  transition: all 1000ms ease;
 // opacity: 0;
  filter: grayscale(100%);
}
.landingVideo.hover video{
  filter: grayscale(0%);
}

.header-menu{
  opacity: 1;
  transition: opacity 10ms;
  transition-delay: 800ms;
  background: #FFFFFF;
  z-index: 1;
}

.home .header-menu{
  opacity: 0;
}

.landingVideo h1{
  font-family: PierSans-Bold;
  font-size: 1.375em;
  color: #FFFFFF;
  letter-spacing: 1.83px;
  text-shadow: 0 2px 15px rgba(0,0,0,0.10);
}

.landing-button{
  text-shadow: 0 2px 15px rgba(0,0,0,0.10);
  box-shadow:  0 2px 15px rgba(0,0,0,0.05);
  font-family: AvenirNext-DemiBold;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 1.5px;
}
