.loading-bg{
  opacity: 0;
  background: white;  
  transform: translateY(-100vh);
  z-index: 2;
}

.loading-bg.transparent{
  background: rgba(255, 255, 255, 0.8);
}

#loading-screen{
  pointer-events:  none;
  z-index: 2;
}

#loading-screen svg{
  z-index: 3;
  position: absolute;
  top: 32.8%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#loading-logo-wrapper{
  z-index: 3;
  opacity: 0;
  transform: translateY(100vh);
  overflow: hidden;
}
#loading-logo{
  transform: translateY(-100vh);
}

#loading-logo, 
#loading-logo-wrapper,
#loading-bg{
  will-change: transform;
}
