
.post-page img{
  width: 66.666% !important;
  margin-bottom: 1.5em;
}
.post-page p{
  padding-right: 50%;
}

@media (max-width: 768px){
  #root .post-page img{
    width: 100% !important;
  }
  .post-page p{
    padding-right: 0% !important;
  }
}