
.post-page .content-wrapper  img{
  width: 66.666% !important;
  margin-bottom: 1.5em;
}
.post-page .content-wrapper p{
  padding-right: 50%;
}
.post-page .content-wrapper p span{
  line-height: 1.5em;
}

@media (max-width: 768px){
  #root .post-page .content-wrapper img{
    width: 100% !important;
  }
  .post-page p{
    padding-right: 0% !important;
  }
}

.post-page h1{
  max-width: 600px;
}