

footer li a{
  text-transform: uppercase;
  font-family: "PierSans-Light", sans-serif;
  font-size: 0.9em;
  letter-spacing: 1.5px;
  cursor: pointer;
}

.newsletter-signup{
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  transition: opacity 250ms ease;
  transition-delay: 250ms;
}

.newsletter-signup h3{
  margin-bottom: 1em;
}
.newsletter-signup .container{
  max-width: 700px;
}

@media (min-width: 462px){
  .newsletter-signup .error{
    left: 0;
    position: absolute;
    bottom: -2em;
  }
}