.checkout-progress span{
  z-index: 1;
  font-size: 0.8em;
  font-family: "PierSans-Light", sans-serif;
  letter-spacing: 1.91px;
  line-height: 1em;
}
.checkout-progress span.active{
  font-family: "PierSans-Bold", sans-serif;;
}

.checkout-bag h2{
  font-size: 3em;
  line-height: 1em;
  margin-bottom: .416em;
}
.checkout-bag > div{
  background: rgba(238,238,238,0.33);
}


.checkout-bag-section{
  display: inline-block;
  width: 100%;
}
.checkout-bag-section p{
  margin: 0;
}
.checkout-bag-section p,
.bag-item p,
.empty-message{
  font-family: "PierSans-Light", sans-serif;
  letter-spacing: 2.18px;
}
.checkout-bag-section:last-of-type p{
  font-family: "PierSans-Bold", sans-serif;
}

.checkout-flow form{
  visibility: hidden;
  height: 0;
}
.checkout-flow form.active{
  visibility: visible;
  height: auto;
}


.checkout-flow .delivery-option{
  line-height: 1.2em;
  letter-spacing: 0.88px;
  border-width: 3px;
}
.checkout-flow .delivery-option.active,
.checkout-flow .delivery-option:hover{
  border: 3px solid #8D0E20;
  background: transparent;
  color: #111111;
}

.bag-editor{
  opacity: 0;
  background: rgba(0,0,0,0.33);
  cursor: default;
  z-index: 2;
}
.bag-editor button{
  border: none;
  background: white;
  border-radius: 50%;
  height: 1.9em;
  width: 1.9em;
  text-align: center;
  padding: 0;
  padding-bottom: 3px;
  line-height: 0;
  margin: 0 0.2em;
  pointer-events: all;
}

.bag-item:hover .bag-editor{
  opacity: 1;
}