/* TYPOGRAPHY START */

a{
  text-decoration: none;
}

body{
  font-family: PierSans-Regular, sans-serif;
  font-size: 1em;
  color: #111111;
  letter-spacing: 0;
  line-height: 1.5em;
}

p{
  margin-bottom: 1.5em;
}

h1{
  font-family: PierSans-Black, sans-serif;
  font-size: 4em;
  color: #000000;
  letter-spacing: 2px;
  line-height: 1em;
  margin-bottom: 0.4em;
}

/* TYPOGRAPHY END */

ul, ol{
  list-style: none;
  padding: 0;
}

.object-fit-cover{
  object-fit: cover;
}

div[class^=adminOverlay]{
  min-height: 100vh;
}

.my-active-enter{
  display: none;
}
.my-active-enter:only-child{
  display: block;
}
.my-active-enter ~ .my-active-exit{
  display: block;
}

hr{
  border: 0.5px solid rgba(17,17,17,0.33);
}

.edit-mode div[class^=content_]{
  min-height: 90vh;
}

.editor-class{
  border-width: 1px;
}
.container{
  padding: 0 1em;
}
main{
  overflow: hidden;
  min-height: 100vh;
}
.page-wrapper{
  position: relative;
}
.fixed-ratio{
  position: relative;
}
.fixed-ratio-content{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.fixed-ratio-content img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.fixed-ratio::before {
  content: "";
  width: 1px;
  margin-left: -1px;
  float: left;
  height: 0;
  padding-top: 100%;
}
.fixed-ratio::after { /* to clear float */
  content: "";
  display: table;
  clear: both;
}
.fixed-ratio.ratio-2::before{
  padding-top: 50%;
}

input, 
button,
.input-box{
  outline: none !important;
  border: 2px solid rgba(17,17,17,0.50);
  padding: 0.8em;
  letter-spacing: 1px;
  width: 100%;
}


/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
  padding-top: 0.25em;
  height: 1.6em;
  line-height: 1.6em;
  vertical-align: middle;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.6em; height: 1.6em;
  border: 2px solid rgba(17,17,17,0.50);
  background: #fff;
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '•';
  position: absolute;
  top: 0.03em;
  left: 0.02em;
  font-size: 4em;
  /* line-height: 0.25em; */
  color: #8D0E20;
  -webkit-transition: transform .2s;
  -o-transition: transform .2s;
  transition: transform .2s;
  font-family: Helvetica, Arial, sans-serif;
  transform-origin: center;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}

button{
  outline: none !important;
  letter-spacing: 1.5px;
}

.error{
  color: #8D0E20;
  line-height: 2em;
}